<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Creator.Properties.Settings.CreatorConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db\Creator.mdb;Persist Security Info=True;Jet OLEDB:Database Password=46491421"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>
